
aside {
  width: 20%;
  height: 220px;
  float: left;
  font-style: italic;
  background-color: white;
  align-items:right;
  /*padding-top: 50px;*/
  padding-right: 30px;
  padding-bottom: 50px;
  /*padding-left: 30px;*/
}

h1 {
  font-size: 30px;
}

.navbar1 {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar1 a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar1 a:hover {
  background-color: #175ef8;
}

.active {
  background-color: #0d2583;
}

@media screen and (max-width: 500px) {
  .navbar1 a {
    float: none;
    display: block;
  }
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: #d74df6;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #f41dd0;
    color: white;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slowFade {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 32s infinite;
            animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

.footer {
  padding: 20px;
  text-align: center;
  background: #4a4747;
  margin-top: 20px;
  height:350px;
}

@media screen and (max-width: 300px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  width: 100%;
  background-color:lightcoral;
  padding: 10px;
  height: 350px;
}

.grid-container > div {
  background-color: rgb(242, 191, 191);
  text-align: center;
  padding: 20px 0;
  width: 100%;
  font-size: 20px;
  height:320px;
}
.address{
  font-size: large;
}
.item{
  width: 33%;
}

p{
  font-size: large;
}

.text{
  font-size: small;

}
